@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'STUNNING-Bd';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-2@1.0/STUNNING-Bd.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

html {
  scroll-snap-type: y mandatory;
}

.feature-section {
  scroll-snap-align: start;
}

.scroll {
  width: 20px;
  height: 200px;
  overflow: auto;
  float: left;
  margin: 0 10px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #666;
  border-radius: 20px;
}

.custom-scrollbar {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.custom-scrollbar>div>div>div {
  animation: fadeInUp 0.5s ease-out;
}

.send-button svg {
  transition: transform 0.3s ease-in-out;
}

.send-button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.send-button:hover svg {
  transform: translateX(0.1em) rotate(45deg) scale(1.1);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }
  to {
    transform: translateY(-0.1em);
  }
}

.send-animation .svg-wrapper {
  animation: fly-1 0.6s ease-in-out;
}

.send-animation svg {
  transform: translateX(0.1em) rotate(45deg) scale(1.1);
}